[submodule "src/extensions"]
	url = https://github.com/NickHaecker/athaeck-vue3-extensions.git
	path = src/extensions
[submodule "src/types/Connecting-Minds-Data-Types"]
	path = src/types/Connecting-Minds-Data-Types
	url = https://github.com/NickHaecker/Connecting-Minds-Data-Types.git
