[submodule "Client/OperatorClient/src/extensions"]
	url = https://github.com/NickHaecker/athaeck-vue3-extensions.git
	path = Client/OperatorClient/src/extensions
[submodule "Socket/athaeck-websocket-express-base"]
	url = https://github.com/NickHaecker/athaeck-websocket-express-base.git
	path = Socket/athaeck-websocket-express-base
[submodule "Calibrator/calibrating"]
	url = https://github.com/HFU-DM-free3D/calibrating.git
