[submodule "Client/OperatorClient/src/extensions"]
	url = https://github.com/NickHaecker/athaeck-vue3-extensions.git
[submodule "Socket/athaeck-websocket-express-base"]
	url = https://github.com/NickHaecker/athaeck-websocket-express-base.git
